PORT=1111
HOST=127.0.0.1
MONGODB_URI=mongodb://127.0.0.1:27017/eco-kids
DATABASE_URL=mongodb://127.0.0.1:27017/eco-kids

NEXT_PUBLIC_AZURE_SPEECH_KEY=your_speech_key
NEXT_PUBLIC_AZURE_SPEECH_REGION=your_speech_region

GOOGLE_CLIENT_ID="GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET="GOOGLE_CLIENT_SECRET"